/**
 * @name Read All Button
 * @author Luximus
 * @version 1.0.0
 * @description Adds a proper button for the Read All messages button.
 */
.vc-ranb-button {
  box-sizing: border-box;
  margin: 0 12px;
  margin-bottom: 8px;
  padding: 0;
  width: 48px;
  height: 48px;
  color: var(--text-normal);
  background-color: var(--background-primary);
  border: none;
  border-radius: 50%;
  transition: color 200ms, background-color 200ms, border-radius 200ms;
}
.vc-ranb-button .contents__201d5 {
  font-size: 0;
}
.vc-ranb-button .contents__201d5::after {
  content: "asdfg";
  font-size: 0;
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIGFyaWEtaGlkZGVuPSJ0cnVlIiByb2xlPSJpbWciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzMxMzIzNyIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOS43IDIuODljLjE4LS4wNy4zMi0uMjQuMzctLjQzYTIgMiAwIDAgMSAzLjg2IDBjLjA1LjIuMTkuMzYuMzguNDNBNyA3IDAgMCAxIDE5IDkuNXYyLjA5YzAgLjEyLjA1LjI0LjEzLjMzbDEuMSAxLjIyYTMgMyAwIDAgMSAuNzcgMi4wMXYuMjhjMCAuNjctLjM0IDEuMjktLjk1IDEuNTYtMS4zMS42LTQgMS41MS04LjA1IDEuNTEtNC4wNSAwLTYuNzQtLjkxLTguMDUtMS41LS42MS0uMjgtLjk1LS45LS45NS0xLjU3di0uMjhhMyAzIDAgMCAxIC43Ny0ybDEuMS0xLjIzYS41LjUgMCAwIDAgLjEzLS4zM1Y5LjVhNyA3IDAgMCAxIDQuNy02LjYxWk05LjE4IDE5Ljg0QS4xNi4xNiAwIDAgMCA5IDIwYTMgMyAwIDEgMCA2IDBjMC0uMS0uMDktLjE3LS4xOC0uMTZhMjQuODYgMjQuODYgMCAwIDEtNS42NCAwWiIgY2xhc3M9IiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: cover;
}
.vc-ranb-button:hover {
  background-color: var(--brand-500);
  border-radius: 16px;
}
.vc-ranb-button:hover .contents__201d5::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIGFyaWEtaGlkZGVuPSJ0cnVlIiByb2xlPSJpbWciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0id2hpdGUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTkuNyAyLjg5Yy4xOC0uMDcuMzItLjI0LjM3LS40M2EyIDIgMCAwIDEgMy44NiAwYy4wNS4yLjE5LjM2LjM4LjQzQTcgNyAwIDAgMSAxOSA5LjV2Mi4wOWMwIC4xMi4wNS4yNC4xMy4zM2wxLjEgMS4yMmEzIDMgMCAwIDEgLjc3IDIuMDF2LjI4YzAgLjY3LS4zNCAxLjI5LS45NSAxLjU2LTEuMzEuNi00IDEuNTEtOC4wNSAxLjUxLTQuMDUgMC02Ljc0LS45MS04LjA1LTEuNS0uNjEtLjI4LS45NS0uOS0uOTUtMS41N3YtLjI4YTMgMyAwIDAgMSAuNzctMmwxLjEtMS4yM2EuNS41IDAgMCAwIC4xMy0uMzNWOS41YTcgNyAwIDAgMSA0LjctNi42MVpNOS4xOCAxOS44NEEuMTYuMTYgMCAwIDAgOSAyMGEzIDMgMCAxIDAgNiAwYzAtLjEtLjA5LS4xNy0uMTgtLjE2YTI0Ljg2IDI0Ljg2IDAgMCAxLTUuNjQgMFoiIGNsYXNzPSIiLz48L3N2Zz4=");
}

@media (prefers-color-scheme: dark) {
  .vc-ranb-button .contents__201d5::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIGFyaWEtaGlkZGVuPSJ0cnVlIiByb2xlPSJpbWciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iI0RCRERFMCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOS43IDIuODljLjE4LS4wNy4zMi0uMjQuMzctLjQzYTIgMiAwIDAgMSAzLjg2IDBjLjA1LjIuMTkuMzYuMzguNDNBNyA3IDAgMCAxIDE5IDkuNXYyLjA5YzAgLjEyLjA1LjI0LjEzLjMzbDEuMSAxLjIyYTMgMyAwIDAgMSAuNzcgMi4wMXYuMjhjMCAuNjctLjM0IDEuMjktLjk1IDEuNTYtMS4zMS42LTQgMS41MS04LjA1IDEuNTEtNC4wNSAwLTYuNzQtLjkxLTguMDUtMS41LS42MS0uMjgtLjk1LS45LS45NS0xLjU3di0uMjhhMyAzIDAgMCAxIC43Ny0ybDEuMS0xLjIzYS41LjUgMCAwIDAgLjEzLS4zM1Y5LjVhNyA3IDAgMCAxIDQuNy02LjYxWk05LjE4IDE5Ljg0QS4xNi4xNiAwIDAgMCA5IDIwYTMgMyAwIDEgMCA2IDBjMC0uMS0uMDktLjE3LS4xOC0uMTZhMjQuODYgMjQuODYgMCAwIDEtNS42NCAwWiIgY2xhc3M9IiIvPjwvc3ZnPg==");
  }
}