/**
 * @name User Area
 * @author Luximus
 * @version 1.0.0
 * @description Beautifies the user area.
 */

$discord-padding: 8px;
$button-height: 32px;

.lxms_button {
    flex: 1;

    border-radius: calc(var(--radius-xs));
    border: 1px solid var(--background-modifier-accent);
    color: var(--interactive-normal);
    background-color: var(--background-tertiary);
    transition: background-color 200ms, box-shadow 200ms;
    height: $button-height;

    &:hover {
        background-color: var(--background-primary);
        box-shadow: 0 0 $discord-padding #0001;
        border-color: none;
    }

    // Ensure that the icons in the button always have the correct color
    & [class*="icon_"] svg,
    & [class*="lottieIcon_"] svg {
        fill: currentColor !important;
        --__lottieIconColor: currentColor !important;
    }

    // Button states
    // Active buttons (webcam, streaming, activity, soundboard)
    &[class*="buttonActive_"] {
        background-color: var(--status-online);
        color: var(--white-500);

        &:hover {
            background-color: var(--green-500);
        }
    }

    // Stop buttons (hang up call, stop streaming, mute, deafen)
    &[aria-label="Stop Streaming"],
    &[aria-label="Disconnect"],
    & [aria-label="Mute"][aria-checked*="true"],
    &[aria-label="Deafen"][aria-checked*="true"] {
        background-color: var(--status-danger-background);
        color: var(--status-danger-text);

        &:hover {
            background-color: var(--red-500);
        }
    }
}

[aria-label="User area"] {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    // Don't apply padding to wrapper_, but to its child. This element is always rendered
    &>div:not([class*="wrapper_"]) {
        padding: $discord-padding !important;
    }

    // Screenshare controls
    [class*="activityPanel_"] [class*="body"] {
        gap: $discord-padding;

        [class*="gameWrapper_"] {
            gap: $discord-padding;

        }

        [class*="actions_"] [class*="panelButtonContainer_"] {
            display: flex;
            gap: $discord-padding;

            &>button {
                @extend .lxms_button;
            }
        }
    }

    // Call controlls
    [class*="wrapper_"] {
        & [class*="container_"] {
            border-bottom: 1px solid var(--background-modifier-accent);
            padding: $discord-padding;

            // Call info + noise suppression etc.
            & [class*="connection_"] {
                margin-bottom: $discord-padding;

                & [class*="voiceButtonsContainer_"] {
                    gap: $discord-padding;

                    & button {
                        @extend .lxms_button;
                    }
                }
            }

            // Call buttons
            & [class*="actionButtons_"] {
                gap: $discord-padding;

                // All buttons
                & button {
                    @extend .lxms_button;
                }

                // Disabled buttons
                &>div {
                    height: $button-height;
                }

                // Disabled soundboard
                & [class*="disabledButtonWrapper_"] {
                    @extend .lxms_button;
                    pointer-events: none;
                    opacity: .5;
                    overflow: hidden !important;
                }
            }
        }
    }

    // Spotify player
    #vc-spotify-player {
        #vc-spotify-progress-bar {
            padding-bottom: $discord-padding;

            & [class*="bar_"] {
                background-color: var(--background-tertiary);
                height: 2px;
            }

            & [class*="barFill_"] {
                background-color: var(--text-normal);
            }

        }

        .vc-spotify-button-row {
            gap: $discord-padding !important;

            &>button {
                @extend .lxms_button;
            }
        }
    }

    // Profile + mute etc. container 
    &>div:last-child {
        height: unset;
        box-sizing: border-box;
        display: block;

        // PFP + displayname container 
        &>div:first-child {
            @extend .lxms_button;
            height: unset;

            margin-bottom: $discord-padding;
            padding: calc($discord-padding / 2);

            // Displayname label
            &>div:last-child {
                padding: 0;
                padding-left: $discord-padding;
            }
        }

        // Mute etc. container
        &>div:last-child {
            gap: $discord-padding;

            // Mute button is a div for some reason
            &>div>button {
                background-color: inherit;
                color: inherit;
                border-radius: inherit;
                width: 100%;
                height: 100%;
            }

            // All buttons
            &>button,
            &>div {
                @extend .lxms_button;
            }
        }

    }
}